@font-face {
    font-family: 'font-1 ';
    src: url('J직지고딕-Thin.otf ') format('opentype');
}

.font-1 {
    font-family: 'font-1 ';
}

@font-face {
    font-family: 'font-2 ';
    src: url('J직지고딕-Light.otf ') format('opentype');
}

.font-2 {
    font-family: 'font-2 ';
}

@font-face {
    font-family: 'font-3 ';
    src: url('SM3세명조-Regular.otf ') format('opentype');
}

.font-3 {
    font-family: 'font-3 ';
}

@font-face {
    font-family: 'font-4 ';
    src: url('SM3중고딕-01.otf ') format('opentype');
}

.font-4 {
    font-family: 'font-4 ';
}

@font-face {
    font-family: 'font-5 ';
    src: url('SM3나루-02.otf ') format('opentype');
}

.font-5 {
    font-family: 'font-5 ';
}

@font-face {
    font-family: 'font-6 ';
    src: url('SM세고딕-Regular.otf ') format('opentype');
}

.font-6 {
    font-family: 'font-6 ';
}

@font-face {
    font-family: 'font-7 ';
    src: url('SM세나루-Regular.otf ') format('opentype');
}

.font-7 {
    font-family: 'font-7 ';
}

@font-face {
    font-family: 'font-8 ';
    src: url('J아침햇살-UltraLight.otf ') format('opentype');
}

.font-8 {
    font-family: 'font-8 ';
}

@font-face {
    font-family: 'font-9 ';
    src: url('J탈네모-Light.otf ') format('opentype');
}

.font-9 {
    font-family: 'font-9 ';
}

@font-face {
    font-family: 'font-10 ';
    src: url('J해바라기-Light.otf ') format('opentype');
}

.font-10 {
    font-family: 'font-10 ';
}

@font-face {
    font-family: 'font-11 ';
    src: url('J타임머신-Light.otf ') format('opentype');
}

.font-11 {
    font-family: 'font-11 ';
}

@font-face {
    font-family: 'font-12 ';
    src: url('SM3신신명조-02.otf ') format('opentype');
}

.font-12 {
    font-family: 'font-12 ';
}

@font-face {
    font-family: 'font-13 ';
    src: url('SM3신신명조-03.otf ') format('opentype');
}

.font-13 {
    font-family: 'font-13 ';
}

@font-face {
    font-family: 'font-14 ';
    src: url('SM3중명조-Regular.otf ') format('opentype');
}

.font-14 {
    font-family: 'font-14 ';
}

@font-face {
    font-family: 'font-15 ';
    src: url('SM세명조-Regular.otf ') format('opentype');
}

.font-15 {
    font-family: 'font-15 ';
}

@font-face {
    font-family: 'font-16 ';
    src: url('SM신명조-Regular.otf ') format('opentype');
}

.font-16 {
    font-family: 'font-16 ';
}

@font-face {
    font-family: 'font-17 ';
    src: url('SM신신명조-Regular.otf ') format('opentype');
}

.font-17 {
    font-family: 'font-17 ';
}

@font-face {
    font-family: 'font-18 ';
    src: url('SM신신명조10-Regular.otf ') format('opentype');
}

.font-18 {
    font-family: 'font-18 ';
}

@font-face {
    font-family: 'font-19 ';
    src: url('SM중명조-Regular.otf ') format('opentype');
}

.font-19 {
    font-family: 'font-19 ';
}

@font-face {
    font-family: 'font-20 ';
    src: url('SM태명조-Regular.otf ') format('opentype');
}

.font-20 {
    font-family: 'font-20 ';
}

@font-face {
    font-family: 'font-21 ';
    src: url('J삿갓-Regular.otf ') format('opentype');
}

.font-21 {
    font-family: 'font-21 ';
}

@font-face {
    font-family: 'font-22 ';
    src: url('J꽃보다왕자-Light.otf ') format('opentype');
}

.font-22 {
    font-family: 'font-22 ';
}

@font-face {
    font-family: 'font-23 ';
    src: url('J빨간구두-Light.otf ') format('opentype');
}

.font-23 {
    font-family: 'font-23 ';
}

@font-face {
    font-family: 'font-24 ';
    src: url('J빨간구두-Medium.otf ') format('opentype');
}

.font-24 {
    font-family: 'font-24 ';
}

@font-face {
    font-family: 'font-25 ';
    src: url('J빨간구두-Bold.otf ') format('opentype');
}

.font-25 {
    font-family: 'font-25 ';
}

@font-face {
    font-family: 'font-26 ';
    src: url('J하얀마음-Light.otf ') format('opentype');
}

.font-26 {
    font-family: 'font-26 ';
}

@font-face {
    font-family: 'font-27 ';
    src: url('J슈퍼맨-Light.otf ') format('opentype');
}

.font-27 {
    font-family: 'font-27 ';
}

@font-face {
    font-family: 'font-28 ';
    src: url('J직지고딕-Regular.otf ') format('opentype');
}

.font-28 {
    font-family: 'font-28 ';
}

@font-face {
    font-family: 'font-29 ';
    src: url('SM3중고딕-02.otf ') format('opentype');
}

.font-29 {
    font-family: 'font-29 ';
}

@font-face {
    font-family: 'font-30 ';
    src: url('SM3중고딕-03.otf ') format('opentype');
}

.font-30 {
    font-family: 'font-30 ';
}

@font-face {
    font-family: 'font-31 ';
    src: url('SM3나루-03.otf ') format('opentype');
}

.font-31 {
    font-family: 'font-31 ';
}

@font-face {
    font-family: 'font-32 ';
    src: url('SM중고딕-Regular.otf ') format('opentype');
}

.font-32 {
    font-family: 'font-32 ';
}

@font-face {
    font-family: 'font-33 ';
    src: url('SM신중고딕-Regular.otf ') format('opentype');
}

.font-33 {
    font-family: 'font-33 ';
}

@font-face {
    font-family: 'font-34 ';
    src: url('SM디나루-Regular.otf ') format('opentype');
}

.font-34 {
    font-family: 'font-34 ';
}

@font-face {
    font-family: 'font-35 ';
    src: url('J정보-Medium.otf ') format('opentype');
}

.font-35 {
    font-family: 'font-35 ';
}

@font-face {
    font-family: 'font-36 ';
    src: url('J아침햇살-Light.otf ') format('opentype');
}

.font-36 {
    font-family: 'font-36 ';
}

@font-face {
    font-family: 'font-37 ';
    src: url('J강아지-Light.otf ') format('opentype');
}

.font-37 {
    font-family: 'font-37 ';
}

@font-face {
    font-family: 'font-38 ';
    src: url('J명문-Regular.otf ') format('opentype');
}

.font-38 {
    font-family: 'font-38 ';
}

@font-face {
    font-family: 'font-39 ';
    src: url('J모던타입-Light.otf ') format('opentype');
}

.font-39 {
    font-family: 'font-39 ';
}

@font-face {
    font-family: 'font-40 ';
    src: url('SM3신명조-02.otf ') format('opentype');
}

.font-40 {
    font-family: 'font-40 ';
}

@font-face {
    font-family: 'font-41 ';
    src: url('SM3신명조-03.otf ') format('opentype');
}

.font-41 {
    font-family: 'font-41 ';
}

@font-face {
    font-family: 'font-42 ';
    src: url('SM3신신명조-04.otf ') format('opentype');
}

.font-42 {
    font-family: 'font-42 ';
}

@font-face {
    font-family: 'font-43 ';
    src: url('SM3태명조-Regular.otf ') format('opentype');
}

.font-43 {
    font-family: 'font-43 ';
}

@font-face {
    font-family: 'font-44 ';
    src: url('SM순명조-Regular.otf ') format('opentype');
}

.font-44 {
    font-family: 'font-44 ';
}

@font-face {
    font-family: 'font-45 ';
    src: url('J송명-Regular.otf ') format('opentype');
}

.font-45 {
    font-family: 'font-45 ';
}

@font-face {
    font-family: 'font-46 ';
    src: url('J꽃보다왕자-Medium.otf ') format('opentype');
}

.font-46 {
    font-family: 'font-46 ';
}

@font-face {
    font-family: 'font-47 ';
    src: url('J하얀마음-Bold.otf ') format('opentype');
}

.font-47 {
    font-family: 'font-47 ';
}

@font-face {
    font-family: 'font-48 ';
    src: url('J하얀마음-Bold.otf ') format('opentype');
}

.font-48 {
    font-family: 'font-48 ';
}

@font-face {
    font-family: 'font-49 ';
    src: url('J오륜-Regular.otf ') format('opentype');
}

.font-49 {
    font-family: 'font-49 ';
}

@font-face {
    font-family: 'font-50 ';
    src: url('J행서-Regular.otf ') format('opentype');
}

.font-50 {
    font-family: 'font-50 ';
}

@font-face {
    font-family: 'font-51 ';
    src: url('J목판-Regular.otf ') format('opentype');
}

.font-51 {
    font-family: 'font-51 ';
}

@font-face {
    font-family: 'font-52 ';
    src: url('J글결목판-Regular.otf ') format('opentype');
}

.font-52 {
    font-family: 'font-52 ';
}

@font-face {
    font-family: 'font-53 ';
    src: url('J정음-Regular.otf ') format('opentype');
}

.font-53 {
    font-family: 'font-53 ';
}

@font-face {
    font-family: 'font-54 ';
    src: url('J슈퍼맨-Medium.otf ') format('opentype');
}

.font-54 {
    font-family: 'font-54 ';
}

@font-face {
    font-family: 'font-55 ';
    src: url('J정보-Light.otf ') format('opentype');
}

.font-55 {
    font-family: 'font-55 ';
}

@font-face {
    font-family: 'font-56 ';
    src: url('J직지고딕-Medium.otf ') format('opentype');
}

.font-56 {
    font-family: 'font-56 ';
}

@font-face {
    font-family: 'font-57 ';
    src: url('SM3태고딕-Regular.otf ') format('opentype');
}

.font-57 {
    font-family: 'font-57 ';
}

@font-face {
    font-family: 'font-58 ';
    src: url('SM중고딕10-Regular.otf ') format('opentype');
}

.font-58 {
    font-family: 'font-58 ';
}

@font-face {
    font-family: 'font-59 ';
    src: url('SM태고딕-Regular.otf ') format('opentype');
}

.font-59 {
    font-family: 'font-59 ';
}

@font-face {
    font-family: 'font-60 ';
    src: url('J아침햇살-Medium.otf ') format('opentype');
}

.font-60 {
    font-family: 'font-60 ';
}

@font-face {
    font-family: 'font-61 ';
    src: url('J강아지-Medium.otf ') format('opentype');
}

.font-61 {
    font-family: 'font-61 ';
}

@font-face {
    font-family: 'font-62 ';
    src: url('J모던타입-Medium.otf ') format('opentype');
}

.font-62 {
    font-family: 'font-62 ';
}

@font-face {
    font-family: 'font-63 ';
    src: url('J탈네모-Medium.otf ') format('opentype');
}

.font-63 {
    font-family: 'font-63 ';
}

@font-face {
    font-family: 'font-64 ';
    src: url('J해바라기-Medium.otf ') format('opentype');
}

.font-64 {
    font-family: 'font-64 ';
}

@font-face {
    font-family: 'font-65 ';
    src: url('J타임머신-Medium.otf ') format('opentype');
}

.font-65 {
    font-family: 'font-65 ';
}

@font-face {
    font-family: 'font-66 ';
    src: url('J로고타입-Light.otf ') format('opentype');
}

.font-66 {
    font-family: 'font-66 ';
}

@font-face {
    font-family: 'font-67 ';
    src: url('J성공시대-Light.otf ') format('opentype');
}

.font-67 {
    font-family: 'font-67 ';
}

@font-face {
    font-family: 'font-68 ';
    src: url('SM3세명조-Regular.otf ') format('opentype');
}

.font-68 {
    font-family: 'font-68 ';
}

@font-face {
    font-family: 'font-69 ';
    src: url('SM3견출명조-Regular.otf ') format('opentype');
}

.font-69 {
    font-family: 'font-69 ';
}

@font-face {
    font-family: 'font-70 ';
    src: url('SM견출명조-Regular.otf ') format('opentype');
}

.font-70 {
    font-family: 'font-70 ';
}

@font-face {
    font-family: 'font-71 ';
    src: url('J꽃보다왕자-Bold.otf ') format('opentype');
}

.font-71 {
    font-family: 'font-71 ';
}

@font-face {
    font-family: 'font-72 ';
    src: url('J연남동명조-Regular.otf ') format('opentype');
}

.font-72 {
    font-family: 'font-72 ';
}

@font-face {
    font-family: 'font-73 ';
    src: url('J신영복-Regular.otf ') format('opentype');
}

.font-73 {
    font-family: 'font-73 ';
}

@font-face {
    font-family: 'font-74 ';
    src: url('J1950년-Light.otf ') format('opentype');
}

.font-74 {
    font-family: 'font-74 ';
}

@font-face {
    font-family: 'font-75 ';
    src: url('J1950년-Medium.otf ') format('opentype');
}

.font-75 {
    font-family: 'font-75 ';
}

@font-face {
    font-family: 'font-76 ';
    src: url('J슈퍼맨-Bold.otf ') format('opentype');
}

.font-76 {
    font-family: 'font-76 ';
}

@font-face {
    font-family: 'font-77 ';
    src: url('J직지고딕-Bold.otf ') format('opentype');
}

.font-77 {
    font-family: 'font-77 ';
}

@font-face {
    font-family: 'font-78 ';
    src: url('J탈네모-Bold.otf ') format('opentype');
}

.font-78 {
    font-family: 'font-78 ';
}

@font-face {
    font-family: 'font-79 ';
    src: url('J해바라기-Bold.otf ') format('opentype');
}

.font-79 {
    font-family: 'font-79 ';
}

@font-face {
    font-family: 'font-80 ';
    src: url('J타임머신-Bold.otf ') format('opentype');
}

.font-80 {
    font-family: 'font-80 ';
}

@font-face {
    font-family: 'font-81 ';
    src: url('J로고타입-Medium.otf ') format('opentype');
}

.font-81 {
    font-family: 'font-81 ';
}

@font-face {
    font-family: 'font-82 ';
    src: url('J성공시대-Medium.otf ') format('opentype');
}

.font-82 {
    font-family: 'font-82 ';
}

@font-face {
    font-family: 'font-83 ';
    src: url('J연남동고딕-Regular.otf ') format('opentype');
}

.font-83 {
    font-family: 'font-83 ';
}

@font-face {
    font-family: 'font-84 ';
    src: url('J장성연어우름-Regular.otf ') format('opentype');
}

.font-84 {
    font-family: 'font-84 ';
}

@font-face {
    font-family: 'font-85 ';
    src: url('J직지고딕-ExtraBold.otf ') format('opentype');
}

.font-85 {
    font-family: 'font-85 ';
}

@font-face {
    font-family: 'font-86 ';
    src: url('J직지고딕-Heavy.otf ') format('opentype');
}

.font-86 {
    font-family: 'font-86 ';
}

@font-face {
    font-family: 'font-87 ';
    src: url('SM3견출고딕-Regular.otf ') format('opentype');
}

.font-87 {
    font-family: 'font-87 ';
}

@font-face {
    font-family: 'font-88 ';
    src: url('SM견출고딕-Regular.otf ') format('opentype');
}

.font-88 {
    font-family: 'font-88 ';
}

@font-face {
    font-family: 'font-89 ';
    src: url('J아침햇살-Bold.otf ') format('opentype');
}

.font-89 {
    font-family: 'font-89 ';
}

@font-face {
    font-family: 'font-90 ';
    src: url('J강아지-Bold.otf ') format('opentype');
}

.font-90 {
    font-family: 'font-90 ';
}

@font-face {
    font-family: 'font-91 ';
    src: url('J모던타입-Bold.otf ') format('opentype');
}

.font-91 {
    font-family: 'font-91 ';
}

@font-face {
    font-family: 'font-92 ';
    src: url('J굴린그래픽-Regular.otf ') format('opentype');
}

.font-92 {
    font-family: 'font-92 ';
}

@font-face {
    font-family: 'font-93 ';
    src: url('J로고타입-Bold.otf ') format('opentype');
}

.font-93 {
    font-family: 'font-93 ';
}

@font-face {
    font-family: 'font-94 ';
    src: url('J성공시대-Bold.otf ') format('opentype');
}

.font-94 {
    font-family: 'font-94 ';
}

@font-face {
    font-family: 'font-95 ';
    src: url('J혜화동벽화-Regular.otf ') format('opentype');
}

.font-95 {
    font-family: 'font-95 ';
}

@font-face {
    font-family: 'font-96 ';
    src: url('J월인-Regular.otf ') format('opentype');
}

.font-96 {
    font-family: 'font-96 ';
}